@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.grid {
  display: grid;
}

.col1 {
  grid-template-columns: repeat(1, 1fr);
}

.col2 {
  grid-template-columns: repeat(2, 1fr);
}

.col3 {
  grid-template-columns: repeat(3, 1fr);
}

.col4 {
  grid-template-columns: repeat(4, 1fr);
}

.col5 {
  grid-template-columns: repeat(5, 1fr);
}

.col6 {
  grid-template-columns: repeat(6, 1fr);
}

.col7 {
  grid-template-columns: repeat(7, 1fr);
}

.col8 {
  grid-template-columns: repeat(8, 1fr);
}

.col9 {
  grid-template-columns: repeat(9, 1fr);
}

.col10 {
  grid-template-columns: repeat(10, 1fr);
}

.col11 {
  grid-template-columns: repeat(11, 1fr);
}

.col12 {
  grid-template-columns: repeat(12, 1fr);
}

.row1 {
  grid-template-rows: repeat(1, 1fr);
}

.row2 {
  grid-template-rows: repeat(2, 1fr);
}

.row3 {
  grid-template-rows: repeat(3, 1fr);
}

.row4 {
  grid-template-rows: repeat(4, 1fr);
}

.row5 {
  grid-template-rows: repeat(5, 1fr);
}

.row6 {
  grid-template-rows: repeat(6, 1fr);
}

.row7 {
  grid-template-rows: repeat(7, 1fr);
}

.row8 {
  grid-template-rows: repeat(8, 1fr);
}

.row9 {
  grid-template-rows: repeat(9, 1fr);
}

.row10 {
  grid-template-rows: repeat(10, 1fr);
}

.row11 {
  grid-template-rows: repeat(11, 1fr);
}

.row12 {
  grid-template-rows: repeat(12, 1fr);
}

.tx-blue {
  color: #1919e6;
}

.tx-hv-blue:hover {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.bg-hv-blue:hover {
  background-color: #1919e6;
}

.tx-blue-lt-1 {
  color: #3030e9;
}

.tx-hv-blue-lt-1:hover {
  color: #3030e9;
}

.bg-blue-lt-1 {
  background-color: #3030e9;
}

.bg-hv-blue-lt-1:hover {
  background-color: #3030e9;
}

.tx-blue-lt-2 {
  color: #4747eb;
}

.tx-hv-blue-lt-2:hover {
  color: #4747eb;
}

.bg-blue-lt-2 {
  background-color: #4747eb;
}

.bg-hv-blue-lt-2:hover {
  background-color: #4747eb;
}

.tx-blue-lt-3 {
  color: #5e5eee;
}

.tx-hv-blue-lt-3:hover {
  color: #5e5eee;
}

.bg-blue-lt-3 {
  background-color: #5e5eee;
}

.bg-hv-blue-lt-3:hover {
  background-color: #5e5eee;
}

.tx-blue-lt-4 {
  color: #7575f0;
}

.tx-hv-blue-lt-4:hover {
  color: #7575f0;
}

.bg-blue-lt-4 {
  background-color: #7575f0;
}

.bg-hv-blue-lt-4:hover {
  background-color: #7575f0;
}

.tx-blue-lt-5 {
  color: #8c8cf3;
}

.tx-hv-blue-lt-5:hover {
  color: #8c8cf3;
}

.bg-blue-lt-5 {
  background-color: #8c8cf3;
}

.bg-hv-blue-lt-5:hover {
  background-color: #8c8cf3;
}

.tx-blue-lt-6 {
  color: #a3a3f5;
}

.tx-hv-blue-lt-6:hover {
  color: #a3a3f5;
}

.bg-blue-lt-6 {
  background-color: #a3a3f5;
}

.bg-hv-blue-lt-6:hover {
  background-color: #a3a3f5;
}

.tx-blue-lt-7 {
  color: #babaf8;
}

.tx-hv-blue-lt-7:hover {
  color: #babaf8;
}

.bg-blue-lt-7 {
  background-color: #babaf8;
}

.bg-hv-blue-lt-7:hover {
  background-color: #babaf8;
}

.tx-blue-lt-8 {
  color: #d1d1fa;
}

.tx-hv-blue-lt-8:hover {
  color: #d1d1fa;
}

.bg-blue-lt-8 {
  background-color: #d1d1fa;
}

.bg-hv-blue-lt-8:hover {
  background-color: #d1d1fa;
}

.tx-blue-lt-9 {
  color: #e8e8fd;
}

.tx-hv-blue-lt-9:hover {
  color: #e8e8fd;
}

.bg-blue-lt-9 {
  background-color: #e8e8fd;
}

.bg-hv-blue-lt-9:hover {
  background-color: #e8e8fd;
}

.tx-blue-dk-1 {
  color: #1717cf;
}

.tx-hv-blue-dk-1:hover {
  color: #1717cf;
}

.bg-blue-dk-1 {
  background-color: #1717cf;
}

.bg-hv-blue-dk-1:hover {
  background-color: #1717cf;
}

.tx-blue-dk-2 {
  color: #1414b8;
}

.tx-hv-blue-dk-2:hover {
  color: #1414b8;
}

.bg-blue-dk-2 {
  background-color: #1414b8;
}

.bg-hv-blue-dk-2:hover {
  background-color: #1414b8;
}

.tx-blue-dk-3 {
  color: #1212a1;
}

.tx-hv-blue-dk-3:hover {
  color: #1212a1;
}

.bg-blue-dk-3 {
  background-color: #1212a1;
}

.bg-hv-blue-dk-3:hover {
  background-color: #1212a1;
}

.tx-blue-dk-4 {
  color: #0f0f8a;
}

.tx-hv-blue-dk-4:hover {
  color: #0f0f8a;
}

.bg-blue-dk-4 {
  background-color: #0f0f8a;
}

.bg-hv-blue-dk-4:hover {
  background-color: #0f0f8a;
}

.tx-blue-dk-5 {
  color: #0d0d73;
}

.tx-hv-blue-dk-5:hover {
  color: #0d0d73;
}

.bg-blue-dk-5 {
  background-color: #0d0d73;
}

.bg-hv-blue-dk-5:hover {
  background-color: #0d0d73;
}

.tx-blue-dk-6 {
  color: #0a0a5c;
}

.tx-hv-blue-dk-6:hover {
  color: #0a0a5c;
}

.bg-blue-dk-6 {
  background-color: #0a0a5c;
}

.bg-hv-blue-dk-6:hover {
  background-color: #0a0a5c;
}

.tx-blue-dk-7 {
  color: #080845;
}

.tx-hv-blue-dk-7:hover {
  color: #080845;
}

.bg-blue-dk-7 {
  background-color: #080845;
}

.bg-hv-blue-dk-7:hover {
  background-color: #080845;
}

.tx-blue-dk-8 {
  color: #05052e;
}

.tx-hv-blue-dk-8:hover {
  color: #05052e;
}

.bg-blue-dk-8 {
  background-color: #05052e;
}

.bg-hv-blue-dk-8:hover {
  background-color: #05052e;
}

.tx-blue-dk-9 {
  color: #030317;
}

.tx-hv-blue-dk-9:hover {
  color: #030317;
}

.bg-blue-dk-9 {
  background-color: #030317;
}

.bg-hv-blue-dk-9:hover {
  background-color: #030317;
}

.tx-red {
  color: #e61919;
}

.tx-hv-red:hover {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.bg-hv-red:hover {
  background-color: #e61919;
}

.tx-red-lt-1 {
  color: #e93030;
}

.tx-hv-red-lt-1:hover {
  color: #e93030;
}

.bg-red-lt-1 {
  background-color: #e93030;
}

.bg-hv-red-lt-1:hover {
  background-color: #e93030;
}

.tx-red-lt-2 {
  color: #eb4747;
}

.tx-hv-red-lt-2:hover {
  color: #eb4747;
}

.bg-red-lt-2 {
  background-color: #eb4747;
}

.bg-hv-red-lt-2:hover {
  background-color: #eb4747;
}

.tx-red-lt-3 {
  color: #ee5e5e;
}

.tx-hv-red-lt-3:hover {
  color: #ee5e5e;
}

.bg-red-lt-3 {
  background-color: #ee5e5e;
}

.bg-hv-red-lt-3:hover {
  background-color: #ee5e5e;
}

.tx-red-lt-4 {
  color: #f07575;
}

.tx-hv-red-lt-4:hover {
  color: #f07575;
}

.bg-red-lt-4 {
  background-color: #f07575;
}

.bg-hv-red-lt-4:hover {
  background-color: #f07575;
}

.tx-red-lt-5 {
  color: #f38c8c;
}

.tx-hv-red-lt-5:hover {
  color: #f38c8c;
}

.bg-red-lt-5 {
  background-color: #f38c8c;
}

.bg-hv-red-lt-5:hover {
  background-color: #f38c8c;
}

.tx-red-lt-6 {
  color: #f5a3a3;
}

.tx-hv-red-lt-6:hover {
  color: #f5a3a3;
}

.bg-red-lt-6 {
  background-color: #f5a3a3;
}

.bg-hv-red-lt-6:hover {
  background-color: #f5a3a3;
}

.tx-red-lt-7 {
  color: #f8baba;
}

.tx-hv-red-lt-7:hover {
  color: #f8baba;
}

.bg-red-lt-7 {
  background-color: #f8baba;
}

.bg-hv-red-lt-7:hover {
  background-color: #f8baba;
}

.tx-red-lt-8 {
  color: #fad1d1;
}

.tx-hv-red-lt-8:hover {
  color: #fad1d1;
}

.bg-red-lt-8 {
  background-color: #fad1d1;
}

.bg-hv-red-lt-8:hover {
  background-color: #fad1d1;
}

.tx-red-lt-9 {
  color: #fde8e8;
}

.tx-hv-red-lt-9:hover {
  color: #fde8e8;
}

.bg-red-lt-9 {
  background-color: #fde8e8;
}

.bg-hv-red-lt-9:hover {
  background-color: #fde8e8;
}

.tx-red-dk-1 {
  color: #cf1717;
}

.tx-hv-red-dk-1:hover {
  color: #cf1717;
}

.bg-red-dk-1 {
  background-color: #cf1717;
}

.bg-hv-red-dk-1:hover {
  background-color: #cf1717;
}

.tx-red-dk-2 {
  color: #b81414;
}

.tx-hv-red-dk-2:hover {
  color: #b81414;
}

.bg-red-dk-2 {
  background-color: #b81414;
}

.bg-hv-red-dk-2:hover {
  background-color: #b81414;
}

.tx-red-dk-3 {
  color: #a11212;
}

.tx-hv-red-dk-3:hover {
  color: #a11212;
}

.bg-red-dk-3 {
  background-color: #a11212;
}

.bg-hv-red-dk-3:hover {
  background-color: #a11212;
}

.tx-red-dk-4 {
  color: #8a0f0f;
}

.tx-hv-red-dk-4:hover {
  color: #8a0f0f;
}

.bg-red-dk-4 {
  background-color: #8a0f0f;
}

.bg-hv-red-dk-4:hover {
  background-color: #8a0f0f;
}

.tx-red-dk-5 {
  color: #730d0d;
}

.tx-hv-red-dk-5:hover {
  color: #730d0d;
}

.bg-red-dk-5 {
  background-color: #730d0d;
}

.bg-hv-red-dk-5:hover {
  background-color: #730d0d;
}

.tx-red-dk-6 {
  color: #5c0a0a;
}

.tx-hv-red-dk-6:hover {
  color: #5c0a0a;
}

.bg-red-dk-6 {
  background-color: #5c0a0a;
}

.bg-hv-red-dk-6:hover {
  background-color: #5c0a0a;
}

.tx-red-dk-7 {
  color: #450808;
}

.tx-hv-red-dk-7:hover {
  color: #450808;
}

.bg-red-dk-7 {
  background-color: #450808;
}

.bg-hv-red-dk-7:hover {
  background-color: #450808;
}

.tx-red-dk-8 {
  color: #2e0505;
}

.tx-hv-red-dk-8:hover {
  color: #2e0505;
}

.bg-red-dk-8 {
  background-color: #2e0505;
}

.bg-hv-red-dk-8:hover {
  background-color: #2e0505;
}

.tx-red-dk-9 {
  color: #170303;
}

.tx-hv-red-dk-9:hover {
  color: #170303;
}

.bg-red-dk-9 {
  background-color: #170303;
}

.bg-hv-red-dk-9:hover {
  background-color: #170303;
}

.tx-yellow {
  color: #e6e619;
}

.tx-hv-yellow:hover {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.bg-hv-yellow:hover {
  background-color: #e6e619;
}

.tx-yellow-lt-1 {
  color: #e9e930;
}

.tx-hv-yellow-lt-1:hover {
  color: #e9e930;
}

.bg-yellow-lt-1 {
  background-color: #e9e930;
}

.bg-hv-yellow-lt-1:hover {
  background-color: #e9e930;
}

.tx-yellow-lt-2 {
  color: #ebeb47;
}

.tx-hv-yellow-lt-2:hover {
  color: #ebeb47;
}

.bg-yellow-lt-2 {
  background-color: #ebeb47;
}

.bg-hv-yellow-lt-2:hover {
  background-color: #ebeb47;
}

.tx-yellow-lt-3 {
  color: #eeee5e;
}

.tx-hv-yellow-lt-3:hover {
  color: #eeee5e;
}

.bg-yellow-lt-3 {
  background-color: #eeee5e;
}

.bg-hv-yellow-lt-3:hover {
  background-color: #eeee5e;
}

.tx-yellow-lt-4 {
  color: #f0f075;
}

.tx-hv-yellow-lt-4:hover {
  color: #f0f075;
}

.bg-yellow-lt-4 {
  background-color: #f0f075;
}

.bg-hv-yellow-lt-4:hover {
  background-color: #f0f075;
}

.tx-yellow-lt-5 {
  color: #f3f38c;
}

.tx-hv-yellow-lt-5:hover {
  color: #f3f38c;
}

.bg-yellow-lt-5 {
  background-color: #f3f38c;
}

.bg-hv-yellow-lt-5:hover {
  background-color: #f3f38c;
}

.tx-yellow-lt-6 {
  color: #f5f5a3;
}

.tx-hv-yellow-lt-6:hover {
  color: #f5f5a3;
}

.bg-yellow-lt-6 {
  background-color: #f5f5a3;
}

.bg-hv-yellow-lt-6:hover {
  background-color: #f5f5a3;
}

.tx-yellow-lt-7 {
  color: #f8f8ba;
}

.tx-hv-yellow-lt-7:hover {
  color: #f8f8ba;
}

.bg-yellow-lt-7 {
  background-color: #f8f8ba;
}

.bg-hv-yellow-lt-7:hover {
  background-color: #f8f8ba;
}

.tx-yellow-lt-8 {
  color: #fafad1;
}

.tx-hv-yellow-lt-8:hover {
  color: #fafad1;
}

.bg-yellow-lt-8 {
  background-color: #fafad1;
}

.bg-hv-yellow-lt-8:hover {
  background-color: #fafad1;
}

.tx-yellow-lt-9 {
  color: #fdfde8;
}

.tx-hv-yellow-lt-9:hover {
  color: #fdfde8;
}

.bg-yellow-lt-9 {
  background-color: #fdfde8;
}

.bg-hv-yellow-lt-9:hover {
  background-color: #fdfde8;
}

.tx-yellow-dk-1 {
  color: #cfcf17;
}

.tx-hv-yellow-dk-1:hover {
  color: #cfcf17;
}

.bg-yellow-dk-1 {
  background-color: #cfcf17;
}

.bg-hv-yellow-dk-1:hover {
  background-color: #cfcf17;
}

.tx-yellow-dk-2 {
  color: #b8b814;
}

.tx-hv-yellow-dk-2:hover {
  color: #b8b814;
}

.bg-yellow-dk-2 {
  background-color: #b8b814;
}

.bg-hv-yellow-dk-2:hover {
  background-color: #b8b814;
}

.tx-yellow-dk-3 {
  color: #a1a112;
}

.tx-hv-yellow-dk-3:hover {
  color: #a1a112;
}

.bg-yellow-dk-3 {
  background-color: #a1a112;
}

.bg-hv-yellow-dk-3:hover {
  background-color: #a1a112;
}

.tx-yellow-dk-4 {
  color: #8a8a0f;
}

.tx-hv-yellow-dk-4:hover {
  color: #8a8a0f;
}

.bg-yellow-dk-4 {
  background-color: #8a8a0f;
}

.bg-hv-yellow-dk-4:hover {
  background-color: #8a8a0f;
}

.tx-yellow-dk-5 {
  color: #73730d;
}

.tx-hv-yellow-dk-5:hover {
  color: #73730d;
}

.bg-yellow-dk-5 {
  background-color: #73730d;
}

.bg-hv-yellow-dk-5:hover {
  background-color: #73730d;
}

.tx-yellow-dk-6 {
  color: #5c5c0a;
}

.tx-hv-yellow-dk-6:hover {
  color: #5c5c0a;
}

.bg-yellow-dk-6 {
  background-color: #5c5c0a;
}

.bg-hv-yellow-dk-6:hover {
  background-color: #5c5c0a;
}

.tx-yellow-dk-7 {
  color: #454508;
}

.tx-hv-yellow-dk-7:hover {
  color: #454508;
}

.bg-yellow-dk-7 {
  background-color: #454508;
}

.bg-hv-yellow-dk-7:hover {
  background-color: #454508;
}

.tx-yellow-dk-8 {
  color: #2e2e05;
}

.tx-hv-yellow-dk-8:hover {
  color: #2e2e05;
}

.bg-yellow-dk-8 {
  background-color: #2e2e05;
}

.bg-hv-yellow-dk-8:hover {
  background-color: #2e2e05;
}

.tx-yellow-dk-9 {
  color: #171703;
}

.tx-hv-yellow-dk-9:hover {
  color: #171703;
}

.bg-yellow-dk-9 {
  background-color: #171703;
}

.bg-hv-yellow-dk-9:hover {
  background-color: #171703;
}

.tx-green {
  color: #19e635;
}

.tx-hv-green:hover {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.bg-hv-green:hover {
  background-color: #19e635;
}

.tx-green-lt-1 {
  color: #30e949;
}

.tx-hv-green-lt-1:hover {
  color: #30e949;
}

.bg-green-lt-1 {
  background-color: #30e949;
}

.bg-hv-green-lt-1:hover {
  background-color: #30e949;
}

.tx-green-lt-2 {
  color: #47eb5d;
}

.tx-hv-green-lt-2:hover {
  color: #47eb5d;
}

.bg-green-lt-2 {
  background-color: #47eb5d;
}

.bg-hv-green-lt-2:hover {
  background-color: #47eb5d;
}

.tx-green-lt-3 {
  color: #5eee72;
}

.tx-hv-green-lt-3:hover {
  color: #5eee72;
}

.bg-green-lt-3 {
  background-color: #5eee72;
}

.bg-hv-green-lt-3:hover {
  background-color: #5eee72;
}

.tx-green-lt-4 {
  color: #75f086;
}

.tx-hv-green-lt-4:hover {
  color: #75f086;
}

.bg-green-lt-4 {
  background-color: #75f086;
}

.bg-hv-green-lt-4:hover {
  background-color: #75f086;
}

.tx-green-lt-5 {
  color: #8cf39a;
}

.tx-hv-green-lt-5:hover {
  color: #8cf39a;
}

.bg-green-lt-5 {
  background-color: #8cf39a;
}

.bg-hv-green-lt-5:hover {
  background-color: #8cf39a;
}

.tx-green-lt-6 {
  color: #a3f5ae;
}

.tx-hv-green-lt-6:hover {
  color: #a3f5ae;
}

.bg-green-lt-6 {
  background-color: #a3f5ae;
}

.bg-hv-green-lt-6:hover {
  background-color: #a3f5ae;
}

.tx-green-lt-7 {
  color: #baf8c2;
}

.tx-hv-green-lt-7:hover {
  color: #baf8c2;
}

.bg-green-lt-7 {
  background-color: #baf8c2;
}

.bg-hv-green-lt-7:hover {
  background-color: #baf8c2;
}

.tx-green-lt-8 {
  color: #d1fad7;
}

.tx-hv-green-lt-8:hover {
  color: #d1fad7;
}

.bg-green-lt-8 {
  background-color: #d1fad7;
}

.bg-hv-green-lt-8:hover {
  background-color: #d1fad7;
}

.tx-green-lt-9 {
  color: #e8fdeb;
}

.tx-hv-green-lt-9:hover {
  color: #e8fdeb;
}

.bg-green-lt-9 {
  background-color: #e8fdeb;
}

.bg-hv-green-lt-9:hover {
  background-color: #e8fdeb;
}

.tx-green-dk-1 {
  color: #17cf30;
}

.tx-hv-green-dk-1:hover {
  color: #17cf30;
}

.bg-green-dk-1 {
  background-color: #17cf30;
}

.bg-hv-green-dk-1:hover {
  background-color: #17cf30;
}

.tx-green-dk-2 {
  color: #14b82a;
}

.tx-hv-green-dk-2:hover {
  color: #14b82a;
}

.bg-green-dk-2 {
  background-color: #14b82a;
}

.bg-hv-green-dk-2:hover {
  background-color: #14b82a;
}

.tx-green-dk-3 {
  color: #12a125;
}

.tx-hv-green-dk-3:hover {
  color: #12a125;
}

.bg-green-dk-3 {
  background-color: #12a125;
}

.bg-hv-green-dk-3:hover {
  background-color: #12a125;
}

.tx-green-dk-4 {
  color: #0f8a20;
}

.tx-hv-green-dk-4:hover {
  color: #0f8a20;
}

.bg-green-dk-4 {
  background-color: #0f8a20;
}

.bg-hv-green-dk-4:hover {
  background-color: #0f8a20;
}

.tx-green-dk-5 {
  color: #0d731b;
}

.tx-hv-green-dk-5:hover {
  color: #0d731b;
}

.bg-green-dk-5 {
  background-color: #0d731b;
}

.bg-hv-green-dk-5:hover {
  background-color: #0d731b;
}

.tx-green-dk-6 {
  color: #0a5c15;
}

.tx-hv-green-dk-6:hover {
  color: #0a5c15;
}

.bg-green-dk-6 {
  background-color: #0a5c15;
}

.bg-hv-green-dk-6:hover {
  background-color: #0a5c15;
}

.tx-green-dk-7 {
  color: #084510;
}

.tx-hv-green-dk-7:hover {
  color: #084510;
}

.bg-green-dk-7 {
  background-color: #084510;
}

.bg-hv-green-dk-7:hover {
  background-color: #084510;
}

.tx-green-dk-8 {
  color: #052e0b;
}

.tx-hv-green-dk-8:hover {
  color: #052e0b;
}

.bg-green-dk-8 {
  background-color: #052e0b;
}

.bg-hv-green-dk-8:hover {
  background-color: #052e0b;
}

.tx-green-dk-9 {
  color: #031705;
}

.tx-hv-green-dk-9:hover {
  color: #031705;
}

.bg-green-dk-9 {
  background-color: #031705;
}

.bg-hv-green-dk-9:hover {
  background-color: #031705;
}

.tx-orange {
  color: #ffa600;
}

.tx-hv-orange:hover {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.bg-hv-orange:hover {
  background-color: #ffa600;
}

.tx-orange-lt-1 {
  color: #ffaf1a;
}

.tx-hv-orange-lt-1:hover {
  color: #ffaf1a;
}

.bg-orange-lt-1 {
  background-color: #ffaf1a;
}

.bg-hv-orange-lt-1:hover {
  background-color: #ffaf1a;
}

.tx-orange-lt-2 {
  color: #ffb833;
}

.tx-hv-orange-lt-2:hover {
  color: #ffb833;
}

.bg-orange-lt-2 {
  background-color: #ffb833;
}

.bg-hv-orange-lt-2:hover {
  background-color: #ffb833;
}

.tx-orange-lt-3 {
  color: #ffc14d;
}

.tx-hv-orange-lt-3:hover {
  color: #ffc14d;
}

.bg-orange-lt-3 {
  background-color: #ffc14d;
}

.bg-hv-orange-lt-3:hover {
  background-color: #ffc14d;
}

.tx-orange-lt-4 {
  color: #ffca66;
}

.tx-hv-orange-lt-4:hover {
  color: #ffca66;
}

.bg-orange-lt-4 {
  background-color: #ffca66;
}

.bg-hv-orange-lt-4:hover {
  background-color: #ffca66;
}

.tx-orange-lt-5 {
  color: #ffd380;
}

.tx-hv-orange-lt-5:hover {
  color: #ffd380;
}

.bg-orange-lt-5 {
  background-color: #ffd380;
}

.bg-hv-orange-lt-5:hover {
  background-color: #ffd380;
}

.tx-orange-lt-6 {
  color: #ffdb99;
}

.tx-hv-orange-lt-6:hover {
  color: #ffdb99;
}

.bg-orange-lt-6 {
  background-color: #ffdb99;
}

.bg-hv-orange-lt-6:hover {
  background-color: #ffdb99;
}

.tx-orange-lt-7 {
  color: #ffe4b3;
}

.tx-hv-orange-lt-7:hover {
  color: #ffe4b3;
}

.bg-orange-lt-7 {
  background-color: #ffe4b3;
}

.bg-hv-orange-lt-7:hover {
  background-color: #ffe4b3;
}

.tx-orange-lt-8 {
  color: #ffedcc;
}

.tx-hv-orange-lt-8:hover {
  color: #ffedcc;
}

.bg-orange-lt-8 {
  background-color: #ffedcc;
}

.bg-hv-orange-lt-8:hover {
  background-color: #ffedcc;
}

.tx-orange-lt-9 {
  color: #fff6e6;
}

.tx-hv-orange-lt-9:hover {
  color: #fff6e6;
}

.bg-orange-lt-9 {
  background-color: #fff6e6;
}

.bg-hv-orange-lt-9:hover {
  background-color: #fff6e6;
}

.tx-orange-dk-1 {
  color: #e69500;
}

.tx-hv-orange-dk-1:hover {
  color: #e69500;
}

.bg-orange-dk-1 {
  background-color: #e69500;
}

.bg-hv-orange-dk-1:hover {
  background-color: #e69500;
}

.tx-orange-dk-2 {
  color: #cc8500;
}

.tx-hv-orange-dk-2:hover {
  color: #cc8500;
}

.bg-orange-dk-2 {
  background-color: #cc8500;
}

.bg-hv-orange-dk-2:hover {
  background-color: #cc8500;
}

.tx-orange-dk-3 {
  color: #b37400;
}

.tx-hv-orange-dk-3:hover {
  color: #b37400;
}

.bg-orange-dk-3 {
  background-color: #b37400;
}

.bg-hv-orange-dk-3:hover {
  background-color: #b37400;
}

.tx-orange-dk-4 {
  color: #996400;
}

.tx-hv-orange-dk-4:hover {
  color: #996400;
}

.bg-orange-dk-4 {
  background-color: #996400;
}

.bg-hv-orange-dk-4:hover {
  background-color: #996400;
}

.tx-orange-dk-5 {
  color: #805300;
}

.tx-hv-orange-dk-5:hover {
  color: #805300;
}

.bg-orange-dk-5 {
  background-color: #805300;
}

.bg-hv-orange-dk-5:hover {
  background-color: #805300;
}

.tx-orange-dk-6 {
  color: #664200;
}

.tx-hv-orange-dk-6:hover {
  color: #664200;
}

.bg-orange-dk-6 {
  background-color: #664200;
}

.bg-hv-orange-dk-6:hover {
  background-color: #664200;
}

.tx-orange-dk-7 {
  color: #4d3200;
}

.tx-hv-orange-dk-7:hover {
  color: #4d3200;
}

.bg-orange-dk-7 {
  background-color: #4d3200;
}

.bg-hv-orange-dk-7:hover {
  background-color: #4d3200;
}

.tx-orange-dk-8 {
  color: #332100;
}

.tx-hv-orange-dk-8:hover {
  color: #332100;
}

.bg-orange-dk-8 {
  background-color: #332100;
}

.bg-hv-orange-dk-8:hover {
  background-color: #332100;
}

.tx-orange-dk-9 {
  color: #1a1100;
}

.tx-hv-orange-dk-9:hover {
  color: #1a1100;
}

.bg-orange-dk-9 {
  background-color: #1a1100;
}

.bg-hv-orange-dk-9:hover {
  background-color: #1a1100;
}

.tx-purple {
  color: #9900ff;
}

.tx-hv-purple:hover {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.bg-hv-purple:hover {
  background-color: #9900ff;
}

.tx-purple-lt-1 {
  color: #a31aff;
}

.tx-hv-purple-lt-1:hover {
  color: #a31aff;
}

.bg-purple-lt-1 {
  background-color: #a31aff;
}

.bg-hv-purple-lt-1:hover {
  background-color: #a31aff;
}

.tx-purple-lt-2 {
  color: #ad33ff;
}

.tx-hv-purple-lt-2:hover {
  color: #ad33ff;
}

.bg-purple-lt-2 {
  background-color: #ad33ff;
}

.bg-hv-purple-lt-2:hover {
  background-color: #ad33ff;
}

.tx-purple-lt-3 {
  color: #b84dff;
}

.tx-hv-purple-lt-3:hover {
  color: #b84dff;
}

.bg-purple-lt-3 {
  background-color: #b84dff;
}

.bg-hv-purple-lt-3:hover {
  background-color: #b84dff;
}

.tx-purple-lt-4 {
  color: #c266ff;
}

.tx-hv-purple-lt-4:hover {
  color: #c266ff;
}

.bg-purple-lt-4 {
  background-color: #c266ff;
}

.bg-hv-purple-lt-4:hover {
  background-color: #c266ff;
}

.tx-purple-lt-5 {
  color: #cc80ff;
}

.tx-hv-purple-lt-5:hover {
  color: #cc80ff;
}

.bg-purple-lt-5 {
  background-color: #cc80ff;
}

.bg-hv-purple-lt-5:hover {
  background-color: #cc80ff;
}

.tx-purple-lt-6 {
  color: #d699ff;
}

.tx-hv-purple-lt-6:hover {
  color: #d699ff;
}

.bg-purple-lt-6 {
  background-color: #d699ff;
}

.bg-hv-purple-lt-6:hover {
  background-color: #d699ff;
}

.tx-purple-lt-7 {
  color: #e0b3ff;
}

.tx-hv-purple-lt-7:hover {
  color: #e0b3ff;
}

.bg-purple-lt-7 {
  background-color: #e0b3ff;
}

.bg-hv-purple-lt-7:hover {
  background-color: #e0b3ff;
}

.tx-purple-lt-8 {
  color: #ebccff;
}

.tx-hv-purple-lt-8:hover {
  color: #ebccff;
}

.bg-purple-lt-8 {
  background-color: #ebccff;
}

.bg-hv-purple-lt-8:hover {
  background-color: #ebccff;
}

.tx-purple-lt-9 {
  color: #f5e6ff;
}

.tx-hv-purple-lt-9:hover {
  color: #f5e6ff;
}

.bg-purple-lt-9 {
  background-color: #f5e6ff;
}

.bg-hv-purple-lt-9:hover {
  background-color: #f5e6ff;
}

.tx-purple-dk-1 {
  color: #8a00e6;
}

.tx-hv-purple-dk-1:hover {
  color: #8a00e6;
}

.bg-purple-dk-1 {
  background-color: #8a00e6;
}

.bg-hv-purple-dk-1:hover {
  background-color: #8a00e6;
}

.tx-purple-dk-2 {
  color: #7a00cc;
}

.tx-hv-purple-dk-2:hover {
  color: #7a00cc;
}

.bg-purple-dk-2 {
  background-color: #7a00cc;
}

.bg-hv-purple-dk-2:hover {
  background-color: #7a00cc;
}

.tx-purple-dk-3 {
  color: #6b00b3;
}

.tx-hv-purple-dk-3:hover {
  color: #6b00b3;
}

.bg-purple-dk-3 {
  background-color: #6b00b3;
}

.bg-hv-purple-dk-3:hover {
  background-color: #6b00b3;
}

.tx-purple-dk-4 {
  color: #5c0099;
}

.tx-hv-purple-dk-4:hover {
  color: #5c0099;
}

.bg-purple-dk-4 {
  background-color: #5c0099;
}

.bg-hv-purple-dk-4:hover {
  background-color: #5c0099;
}

.tx-purple-dk-5 {
  color: #4d0080;
}

.tx-hv-purple-dk-5:hover {
  color: #4d0080;
}

.bg-purple-dk-5 {
  background-color: #4d0080;
}

.bg-hv-purple-dk-5:hover {
  background-color: #4d0080;
}

.tx-purple-dk-6 {
  color: #3d0066;
}

.tx-hv-purple-dk-6:hover {
  color: #3d0066;
}

.bg-purple-dk-6 {
  background-color: #3d0066;
}

.bg-hv-purple-dk-6:hover {
  background-color: #3d0066;
}

.tx-purple-dk-7 {
  color: #2e004d;
}

.tx-hv-purple-dk-7:hover {
  color: #2e004d;
}

.bg-purple-dk-7 {
  background-color: #2e004d;
}

.bg-hv-purple-dk-7:hover {
  background-color: #2e004d;
}

.tx-purple-dk-8 {
  color: #1f0033;
}

.tx-hv-purple-dk-8:hover {
  color: #1f0033;
}

.bg-purple-dk-8 {
  background-color: #1f0033;
}

.bg-hv-purple-dk-8:hover {
  background-color: #1f0033;
}

.tx-purple-dk-9 {
  color: #0f001a;
}

.tx-hv-purple-dk-9:hover {
  color: #0f001a;
}

.bg-purple-dk-9 {
  background-color: #0f001a;
}

.bg-hv-purple-dk-9:hover {
  background-color: #0f001a;
}

.tx-white {
  color: #ffffff;
}

.tx-hv-white:hover {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.bg-hv-white:hover {
  background-color: #ffffff;
}

.tx-black {
  color: #000000;
}

.tx-hv-black:hover {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.bg-hv-black:hover {
  background-color: #000000;
}

.tx-gray {
  color: #808080;
}

.tx-hv-gray:hover {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.bg-hv-gray:hover {
  background-color: #808080;
}

.tx-gray-lt-1 {
  color: #8d8d8d;
}

.tx-hv-gray-lt-1:hover {
  color: #8d8d8d;
}

.bg-gray-lt-1 {
  background-color: #8d8d8d;
}

.bg-hv-gray-lt-1:hover {
  background-color: #8d8d8d;
}

.tx-gray-lt-2 {
  color: #999999;
}

.tx-hv-gray-lt-2:hover {
  color: #999999;
}

.bg-gray-lt-2 {
  background-color: #999999;
}

.bg-hv-gray-lt-2:hover {
  background-color: #999999;
}

.tx-gray-lt-3 {
  color: #a6a6a6;
}

.tx-hv-gray-lt-3:hover {
  color: #a6a6a6;
}

.bg-gray-lt-3 {
  background-color: #a6a6a6;
}

.bg-hv-gray-lt-3:hover {
  background-color: #a6a6a6;
}

.tx-gray-lt-4 {
  color: #b3b3b3;
}

.tx-hv-gray-lt-4:hover {
  color: #b3b3b3;
}

.bg-gray-lt-4 {
  background-color: #b3b3b3;
}

.bg-hv-gray-lt-4:hover {
  background-color: #b3b3b3;
}

.tx-gray-lt-5 {
  color: silver;
}

.tx-hv-gray-lt-5:hover {
  color: silver;
}

.bg-gray-lt-5 {
  background-color: silver;
}

.bg-hv-gray-lt-5:hover {
  background-color: silver;
}

.tx-gray-lt-6 {
  color: #cccccc;
}

.tx-hv-gray-lt-6:hover {
  color: #cccccc;
}

.bg-gray-lt-6 {
  background-color: #cccccc;
}

.bg-hv-gray-lt-6:hover {
  background-color: #cccccc;
}

.tx-gray-lt-7 {
  color: #d9d9d9;
}

.tx-hv-gray-lt-7:hover {
  color: #d9d9d9;
}

.bg-gray-lt-7 {
  background-color: #d9d9d9;
}

.bg-hv-gray-lt-7:hover {
  background-color: #d9d9d9;
}

.tx-gray-lt-8 {
  color: #e6e6e6;
}

.tx-hv-gray-lt-8:hover {
  color: #e6e6e6;
}

.bg-gray-lt-8 {
  background-color: #e6e6e6;
}

.bg-hv-gray-lt-8:hover {
  background-color: #e6e6e6;
}

.tx-gray-lt-9 {
  color: #f2f2f2;
}

.tx-hv-gray-lt-9:hover {
  color: #f2f2f2;
}

.bg-gray-lt-9 {
  background-color: #f2f2f2;
}

.bg-hv-gray-lt-9:hover {
  background-color: #f2f2f2;
}

.tx-gray-dk-1 {
  color: #737373;
}

.tx-hv-gray-dk-1:hover {
  color: #737373;
}

.bg-gray-dk-1 {
  background-color: #737373;
}

.bg-hv-gray-dk-1:hover {
  background-color: #737373;
}

.tx-gray-dk-2 {
  color: #666666;
}

.tx-hv-gray-dk-2:hover {
  color: #666666;
}

.bg-gray-dk-2 {
  background-color: #666666;
}

.bg-hv-gray-dk-2:hover {
  background-color: #666666;
}

.tx-gray-dk-3 {
  color: #5a5a5a;
}

.tx-hv-gray-dk-3:hover {
  color: #5a5a5a;
}

.bg-gray-dk-3 {
  background-color: #5a5a5a;
}

.bg-hv-gray-dk-3:hover {
  background-color: #5a5a5a;
}

.tx-gray-dk-4 {
  color: #4d4d4d;
}

.tx-hv-gray-dk-4:hover {
  color: #4d4d4d;
}

.bg-gray-dk-4 {
  background-color: #4d4d4d;
}

.bg-hv-gray-dk-4:hover {
  background-color: #4d4d4d;
}

.tx-gray-dk-5 {
  color: #404040;
}

.tx-hv-gray-dk-5:hover {
  color: #404040;
}

.bg-gray-dk-5 {
  background-color: #404040;
}

.bg-hv-gray-dk-5:hover {
  background-color: #404040;
}

.tx-gray-dk-6 {
  color: #333333;
}

.tx-hv-gray-dk-6:hover {
  color: #333333;
}

.bg-gray-dk-6 {
  background-color: #333333;
}

.bg-hv-gray-dk-6:hover {
  background-color: #333333;
}

.tx-gray-dk-7 {
  color: #262626;
}

.tx-hv-gray-dk-7:hover {
  color: #262626;
}

.bg-gray-dk-7 {
  background-color: #262626;
}

.bg-hv-gray-dk-7:hover {
  background-color: #262626;
}

.tx-gray-dk-8 {
  color: #1a1a1a;
}

.tx-hv-gray-dk-8:hover {
  color: #1a1a1a;
}

.bg-gray-dk-8 {
  background-color: #1a1a1a;
}

.bg-hv-gray-dk-8:hover {
  background-color: #1a1a1a;
}

.tx-gray-dk-9 {
  color: #0d0d0d;
}

.tx-hv-gray-dk-9:hover {
  color: #0d0d0d;
}

.bg-gray-dk-9 {
  background-color: #0d0d0d;
}

.bg-hv-gray-dk-9:hover {
  background-color: #0d0d0d;
}

.tx-primary {
  color: #326dee;
}

.tx-hv-primary:hover {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.bg-hv-primary:hover {
  background-color: #326dee;
}

.tx-primary-lt-1 {
  color: #477cf0;
}

.tx-hv-primary-lt-1:hover {
  color: #477cf0;
}

.bg-primary-lt-1 {
  background-color: #477cf0;
}

.bg-hv-primary-lt-1:hover {
  background-color: #477cf0;
}

.tx-primary-lt-2 {
  color: #5b8af1;
}

.tx-hv-primary-lt-2:hover {
  color: #5b8af1;
}

.bg-primary-lt-2 {
  background-color: #5b8af1;
}

.bg-hv-primary-lt-2:hover {
  background-color: #5b8af1;
}

.tx-primary-lt-3 {
  color: #7099f3;
}

.tx-hv-primary-lt-3:hover {
  color: #7099f3;
}

.bg-primary-lt-3 {
  background-color: #7099f3;
}

.bg-hv-primary-lt-3:hover {
  background-color: #7099f3;
}

.tx-primary-lt-4 {
  color: #84a7f5;
}

.tx-hv-primary-lt-4:hover {
  color: #84a7f5;
}

.bg-primary-lt-4 {
  background-color: #84a7f5;
}

.bg-hv-primary-lt-4:hover {
  background-color: #84a7f5;
}

.tx-primary-lt-5 {
  color: #99b6f7;
}

.tx-hv-primary-lt-5:hover {
  color: #99b6f7;
}

.bg-primary-lt-5 {
  background-color: #99b6f7;
}

.bg-hv-primary-lt-5:hover {
  background-color: #99b6f7;
}

.tx-primary-lt-6 {
  color: #adc5f8;
}

.tx-hv-primary-lt-6:hover {
  color: #adc5f8;
}

.bg-primary-lt-6 {
  background-color: #adc5f8;
}

.bg-hv-primary-lt-6:hover {
  background-color: #adc5f8;
}

.tx-primary-lt-7 {
  color: #c2d3fa;
}

.tx-hv-primary-lt-7:hover {
  color: #c2d3fa;
}

.bg-primary-lt-7 {
  background-color: #c2d3fa;
}

.bg-hv-primary-lt-7:hover {
  background-color: #c2d3fa;
}

.tx-primary-lt-8 {
  color: #d6e2fc;
}

.tx-hv-primary-lt-8:hover {
  color: #d6e2fc;
}

.bg-primary-lt-8 {
  background-color: #d6e2fc;
}

.bg-hv-primary-lt-8:hover {
  background-color: #d6e2fc;
}

.tx-primary-lt-9 {
  color: #ebf0fd;
}

.tx-hv-primary-lt-9:hover {
  color: #ebf0fd;
}

.bg-primary-lt-9 {
  background-color: #ebf0fd;
}

.bg-hv-primary-lt-9:hover {
  background-color: #ebf0fd;
}

.tx-primary-dk-1 {
  color: #2d62d6;
}

.tx-hv-primary-dk-1:hover {
  color: #2d62d6;
}

.bg-primary-dk-1 {
  background-color: #2d62d6;
}

.bg-hv-primary-dk-1:hover {
  background-color: #2d62d6;
}

.tx-primary-dk-2 {
  color: #2857be;
}

.tx-hv-primary-dk-2:hover {
  color: #2857be;
}

.bg-primary-dk-2 {
  background-color: #2857be;
}

.bg-hv-primary-dk-2:hover {
  background-color: #2857be;
}

.tx-primary-dk-3 {
  color: #234ca7;
}

.tx-hv-primary-dk-3:hover {
  color: #234ca7;
}

.bg-primary-dk-3 {
  background-color: #234ca7;
}

.bg-hv-primary-dk-3:hover {
  background-color: #234ca7;
}

.tx-primary-dk-4 {
  color: #1e418f;
}

.tx-hv-primary-dk-4:hover {
  color: #1e418f;
}

.bg-primary-dk-4 {
  background-color: #1e418f;
}

.bg-hv-primary-dk-4:hover {
  background-color: #1e418f;
}

.tx-primary-dk-5 {
  color: #193777;
}

.tx-hv-primary-dk-5:hover {
  color: #193777;
}

.bg-primary-dk-5 {
  background-color: #193777;
}

.bg-hv-primary-dk-5:hover {
  background-color: #193777;
}

.tx-primary-dk-6 {
  color: #142c5f;
}

.tx-hv-primary-dk-6:hover {
  color: #142c5f;
}

.bg-primary-dk-6 {
  background-color: #142c5f;
}

.bg-hv-primary-dk-6:hover {
  background-color: #142c5f;
}

.tx-primary-dk-7 {
  color: #0f2147;
}

.tx-hv-primary-dk-7:hover {
  color: #0f2147;
}

.bg-primary-dk-7 {
  background-color: #0f2147;
}

.bg-hv-primary-dk-7:hover {
  background-color: #0f2147;
}

.tx-primary-dk-8 {
  color: #0a1630;
}

.tx-hv-primary-dk-8:hover {
  color: #0a1630;
}

.bg-primary-dk-8 {
  background-color: #0a1630;
}

.bg-hv-primary-dk-8:hover {
  background-color: #0a1630;
}

.tx-primary-dk-9 {
  color: #050b18;
}

.tx-hv-primary-dk-9:hover {
  color: #050b18;
}

.bg-primary-dk-9 {
  background-color: #050b18;
}

.bg-hv-primary-dk-9:hover {
  background-color: #050b18;
}

.tx-success {
  color: #1ac888;
}

.tx-hv-success:hover {
  color: #1ac888;
}

.bg-success {
  background-color: #1ac888;
}

.bg-hv-success:hover {
  background-color: #1ac888;
}

.tx-success-lt-1 {
  color: #31ce94;
}

.tx-hv-success-lt-1:hover {
  color: #31ce94;
}

.bg-success-lt-1 {
  background-color: #31ce94;
}

.bg-hv-success-lt-1:hover {
  background-color: #31ce94;
}

.tx-success-lt-2 {
  color: #48d3a0;
}

.tx-hv-success-lt-2:hover {
  color: #48d3a0;
}

.bg-success-lt-2 {
  background-color: #48d3a0;
}

.bg-hv-success-lt-2:hover {
  background-color: #48d3a0;
}

.tx-success-lt-3 {
  color: #5fd9ac;
}

.tx-hv-success-lt-3:hover {
  color: #5fd9ac;
}

.bg-success-lt-3 {
  background-color: #5fd9ac;
}

.bg-hv-success-lt-3:hover {
  background-color: #5fd9ac;
}

.tx-success-lt-4 {
  color: #76deb8;
}

.tx-hv-success-lt-4:hover {
  color: #76deb8;
}

.bg-success-lt-4 {
  background-color: #76deb8;
}

.bg-hv-success-lt-4:hover {
  background-color: #76deb8;
}

.tx-success-lt-5 {
  color: #8de4c4;
}

.tx-hv-success-lt-5:hover {
  color: #8de4c4;
}

.bg-success-lt-5 {
  background-color: #8de4c4;
}

.bg-hv-success-lt-5:hover {
  background-color: #8de4c4;
}

.tx-success-lt-6 {
  color: #a3e9cf;
}

.tx-hv-success-lt-6:hover {
  color: #a3e9cf;
}

.bg-success-lt-6 {
  background-color: #a3e9cf;
}

.bg-hv-success-lt-6:hover {
  background-color: #a3e9cf;
}

.tx-success-lt-7 {
  color: #baefdb;
}

.tx-hv-success-lt-7:hover {
  color: #baefdb;
}

.bg-success-lt-7 {
  background-color: #baefdb;
}

.bg-hv-success-lt-7:hover {
  background-color: #baefdb;
}

.tx-success-lt-8 {
  color: #d1f4e7;
}

.tx-hv-success-lt-8:hover {
  color: #d1f4e7;
}

.bg-success-lt-8 {
  background-color: #d1f4e7;
}

.bg-hv-success-lt-8:hover {
  background-color: #d1f4e7;
}

.tx-success-lt-9 {
  color: #e8faf3;
}

.tx-hv-success-lt-9:hover {
  color: #e8faf3;
}

.bg-success-lt-9 {
  background-color: #e8faf3;
}

.bg-hv-success-lt-9:hover {
  background-color: #e8faf3;
}

.tx-success-dk-1 {
  color: #17b47a;
}

.tx-hv-success-dk-1:hover {
  color: #17b47a;
}

.bg-success-dk-1 {
  background-color: #17b47a;
}

.bg-hv-success-dk-1:hover {
  background-color: #17b47a;
}

.tx-success-dk-2 {
  color: #15a06d;
}

.tx-hv-success-dk-2:hover {
  color: #15a06d;
}

.bg-success-dk-2 {
  background-color: #15a06d;
}

.bg-hv-success-dk-2:hover {
  background-color: #15a06d;
}

.tx-success-dk-3 {
  color: #128c5f;
}

.tx-hv-success-dk-3:hover {
  color: #128c5f;
}

.bg-success-dk-3 {
  background-color: #128c5f;
}

.bg-hv-success-dk-3:hover {
  background-color: #128c5f;
}

.tx-success-dk-4 {
  color: #107852;
}

.tx-hv-success-dk-4:hover {
  color: #107852;
}

.bg-success-dk-4 {
  background-color: #107852;
}

.bg-hv-success-dk-4:hover {
  background-color: #107852;
}

.tx-success-dk-5 {
  color: #0d6444;
}

.tx-hv-success-dk-5:hover {
  color: #0d6444;
}

.bg-success-dk-5 {
  background-color: #0d6444;
}

.bg-hv-success-dk-5:hover {
  background-color: #0d6444;
}

.tx-success-dk-6 {
  color: #0a5036;
}

.tx-hv-success-dk-6:hover {
  color: #0a5036;
}

.bg-success-dk-6 {
  background-color: #0a5036;
}

.bg-hv-success-dk-6:hover {
  background-color: #0a5036;
}

.tx-success-dk-7 {
  color: #083c29;
}

.tx-hv-success-dk-7:hover {
  color: #083c29;
}

.bg-success-dk-7 {
  background-color: #083c29;
}

.bg-hv-success-dk-7:hover {
  background-color: #083c29;
}

.tx-success-dk-8 {
  color: #05281b;
}

.tx-hv-success-dk-8:hover {
  color: #05281b;
}

.bg-success-dk-8 {
  background-color: #05281b;
}

.bg-hv-success-dk-8:hover {
  background-color: #05281b;
}

.tx-success-dk-9 {
  color: #03140e;
}

.tx-hv-success-dk-9:hover {
  color: #03140e;
}

.bg-success-dk-9 {
  background-color: #03140e;
}

.bg-hv-success-dk-9:hover {
  background-color: #03140e;
}

.tx-error {
  color: #d32752;
}

.tx-hv-error:hover {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.bg-hv-error:hover {
  background-color: #d32752;
}

.tx-error-lt-1 {
  color: #d73d63;
}

.tx-hv-error-lt-1:hover {
  color: #d73d63;
}

.bg-error-lt-1 {
  background-color: #d73d63;
}

.bg-hv-error-lt-1:hover {
  background-color: #d73d63;
}

.tx-error-lt-2 {
  color: #dc5275;
}

.tx-hv-error-lt-2:hover {
  color: #dc5275;
}

.bg-error-lt-2 {
  background-color: #dc5275;
}

.bg-hv-error-lt-2:hover {
  background-color: #dc5275;
}

.tx-error-lt-3 {
  color: #e06886;
}

.tx-hv-error-lt-3:hover {
  color: #e06886;
}

.bg-error-lt-3 {
  background-color: #e06886;
}

.bg-hv-error-lt-3:hover {
  background-color: #e06886;
}

.tx-error-lt-4 {
  color: #e57d97;
}

.tx-hv-error-lt-4:hover {
  color: #e57d97;
}

.bg-error-lt-4 {
  background-color: #e57d97;
}

.bg-hv-error-lt-4:hover {
  background-color: #e57d97;
}

.tx-error-lt-5 {
  color: #e993a9;
}

.tx-hv-error-lt-5:hover {
  color: #e993a9;
}

.bg-error-lt-5 {
  background-color: #e993a9;
}

.bg-hv-error-lt-5:hover {
  background-color: #e993a9;
}

.tx-error-lt-6 {
  color: #eda9ba;
}

.tx-hv-error-lt-6:hover {
  color: #eda9ba;
}

.bg-error-lt-6 {
  background-color: #eda9ba;
}

.bg-hv-error-lt-6:hover {
  background-color: #eda9ba;
}

.tx-error-lt-7 {
  color: #f2becb;
}

.tx-hv-error-lt-7:hover {
  color: #f2becb;
}

.bg-error-lt-7 {
  background-color: #f2becb;
}

.bg-hv-error-lt-7:hover {
  background-color: #f2becb;
}

.tx-error-lt-8 {
  color: #f6d4dc;
}

.tx-hv-error-lt-8:hover {
  color: #f6d4dc;
}

.bg-error-lt-8 {
  background-color: #f6d4dc;
}

.bg-hv-error-lt-8:hover {
  background-color: #f6d4dc;
}

.tx-error-lt-9 {
  color: #fbe9ee;
}

.tx-hv-error-lt-9:hover {
  color: #fbe9ee;
}

.bg-error-lt-9 {
  background-color: #fbe9ee;
}

.bg-hv-error-lt-9:hover {
  background-color: #fbe9ee;
}

.tx-error-dk-1 {
  color: #be234a;
}

.tx-hv-error-dk-1:hover {
  color: #be234a;
}

.bg-error-dk-1 {
  background-color: #be234a;
}

.bg-hv-error-dk-1:hover {
  background-color: #be234a;
}

.tx-error-dk-2 {
  color: #a91f42;
}

.tx-hv-error-dk-2:hover {
  color: #a91f42;
}

.bg-error-dk-2 {
  background-color: #a91f42;
}

.bg-hv-error-dk-2:hover {
  background-color: #a91f42;
}

.tx-error-dk-3 {
  color: #941b39;
}

.tx-hv-error-dk-3:hover {
  color: #941b39;
}

.bg-error-dk-3 {
  background-color: #941b39;
}

.bg-hv-error-dk-3:hover {
  background-color: #941b39;
}

.tx-error-dk-4 {
  color: #7f1731;
}

.tx-hv-error-dk-4:hover {
  color: #7f1731;
}

.bg-error-dk-4 {
  background-color: #7f1731;
}

.bg-hv-error-dk-4:hover {
  background-color: #7f1731;
}

.tx-error-dk-5 {
  color: #6a1429;
}

.tx-hv-error-dk-5:hover {
  color: #6a1429;
}

.bg-error-dk-5 {
  background-color: #6a1429;
}

.bg-hv-error-dk-5:hover {
  background-color: #6a1429;
}

.tx-error-dk-6 {
  color: #541021;
}

.tx-hv-error-dk-6:hover {
  color: #541021;
}

.bg-error-dk-6 {
  background-color: #541021;
}

.bg-hv-error-dk-6:hover {
  background-color: #541021;
}

.tx-error-dk-7 {
  color: #3f0c19;
}

.tx-hv-error-dk-7:hover {
  color: #3f0c19;
}

.bg-error-dk-7 {
  background-color: #3f0c19;
}

.bg-hv-error-dk-7:hover {
  background-color: #3f0c19;
}

.tx-error-dk-8 {
  color: #2a0810;
}

.tx-hv-error-dk-8:hover {
  color: #2a0810;
}

.bg-error-dk-8 {
  background-color: #2a0810;
}

.bg-hv-error-dk-8:hover {
  background-color: #2a0810;
}

.tx-error-dk-9 {
  color: #150408;
}

.tx-hv-error-dk-9:hover {
  color: #150408;
}

.bg-error-dk-9 {
  background-color: #150408;
}

.bg-hv-error-dk-9:hover {
  background-color: #150408;
}

.tx-warning {
  color: #f6c31c;
}

.tx-hv-warning:hover {
  color: #f6c31c;
}

.bg-warning {
  background-color: #f6c31c;
}

.bg-hv-warning:hover {
  background-color: #f6c31c;
}

.tx-warning-lt-1 {
  color: #f7c933;
}

.tx-hv-warning-lt-1:hover {
  color: #f7c933;
}

.bg-warning-lt-1 {
  background-color: #f7c933;
}

.bg-hv-warning-lt-1:hover {
  background-color: #f7c933;
}

.tx-warning-lt-2 {
  color: #f8cf49;
}

.tx-hv-warning-lt-2:hover {
  color: #f8cf49;
}

.bg-warning-lt-2 {
  background-color: #f8cf49;
}

.bg-hv-warning-lt-2:hover {
  background-color: #f8cf49;
}

.tx-warning-lt-3 {
  color: #f9d560;
}

.tx-hv-warning-lt-3:hover {
  color: #f9d560;
}

.bg-warning-lt-3 {
  background-color: #f9d560;
}

.bg-hv-warning-lt-3:hover {
  background-color: #f9d560;
}

.tx-warning-lt-4 {
  color: #fadb77;
}

.tx-hv-warning-lt-4:hover {
  color: #fadb77;
}

.bg-warning-lt-4 {
  background-color: #fadb77;
}

.bg-hv-warning-lt-4:hover {
  background-color: #fadb77;
}

.tx-warning-lt-5 {
  color: #fbe18e;
}

.tx-hv-warning-lt-5:hover {
  color: #fbe18e;
}

.bg-warning-lt-5 {
  background-color: #fbe18e;
}

.bg-hv-warning-lt-5:hover {
  background-color: #fbe18e;
}

.tx-warning-lt-6 {
  color: #fbe7a4;
}

.tx-hv-warning-lt-6:hover {
  color: #fbe7a4;
}

.bg-warning-lt-6 {
  background-color: #fbe7a4;
}

.bg-hv-warning-lt-6:hover {
  background-color: #fbe7a4;
}

.tx-warning-lt-7 {
  color: #fcedbb;
}

.tx-hv-warning-lt-7:hover {
  color: #fcedbb;
}

.bg-warning-lt-7 {
  background-color: #fcedbb;
}

.bg-hv-warning-lt-7:hover {
  background-color: #fcedbb;
}

.tx-warning-lt-8 {
  color: #fdf3d2;
}

.tx-hv-warning-lt-8:hover {
  color: #fdf3d2;
}

.bg-warning-lt-8 {
  background-color: #fdf3d2;
}

.bg-hv-warning-lt-8:hover {
  background-color: #fdf3d2;
}

.tx-warning-lt-9 {
  color: #fef9e8;
}

.tx-hv-warning-lt-9:hover {
  color: #fef9e8;
}

.bg-warning-lt-9 {
  background-color: #fef9e8;
}

.bg-hv-warning-lt-9:hover {
  background-color: #fef9e8;
}

.tx-warning-dk-1 {
  color: #ddb019;
}

.tx-hv-warning-dk-1:hover {
  color: #ddb019;
}

.bg-warning-dk-1 {
  background-color: #ddb019;
}

.bg-hv-warning-dk-1:hover {
  background-color: #ddb019;
}

.tx-warning-dk-2 {
  color: #c59c16;
}

.tx-hv-warning-dk-2:hover {
  color: #c59c16;
}

.bg-warning-dk-2 {
  background-color: #c59c16;
}

.bg-hv-warning-dk-2:hover {
  background-color: #c59c16;
}

.tx-warning-dk-3 {
  color: #ac8914;
}

.tx-hv-warning-dk-3:hover {
  color: #ac8914;
}

.bg-warning-dk-3 {
  background-color: #ac8914;
}

.bg-hv-warning-dk-3:hover {
  background-color: #ac8914;
}

.tx-warning-dk-4 {
  color: #947511;
}

.tx-hv-warning-dk-4:hover {
  color: #947511;
}

.bg-warning-dk-4 {
  background-color: #947511;
}

.bg-hv-warning-dk-4:hover {
  background-color: #947511;
}

.tx-warning-dk-5 {
  color: #7b620e;
}

.tx-hv-warning-dk-5:hover {
  color: #7b620e;
}

.bg-warning-dk-5 {
  background-color: #7b620e;
}

.bg-hv-warning-dk-5:hover {
  background-color: #7b620e;
}

.tx-warning-dk-6 {
  color: #624e0b;
}

.tx-hv-warning-dk-6:hover {
  color: #624e0b;
}

.bg-warning-dk-6 {
  background-color: #624e0b;
}

.bg-hv-warning-dk-6:hover {
  background-color: #624e0b;
}

.tx-warning-dk-7 {
  color: #4a3b08;
}

.tx-hv-warning-dk-7:hover {
  color: #4a3b08;
}

.bg-warning-dk-7 {
  background-color: #4a3b08;
}

.bg-hv-warning-dk-7:hover {
  background-color: #4a3b08;
}

.tx-warning-dk-8 {
  color: #312706;
}

.tx-hv-warning-dk-8:hover {
  color: #312706;
}

.bg-warning-dk-8 {
  background-color: #312706;
}

.bg-hv-warning-dk-8:hover {
  background-color: #312706;
}

.tx-warning-dk-9 {
  color: #191403;
}

.tx-hv-warning-dk-9:hover {
  color: #191403;
}

.bg-warning-dk-9 {
  background-color: #191403;
}

.bg-hv-warning-dk-9:hover {
  background-color: #191403;
}

.tx-info {
  color: #5bbdff;
}

.tx-hv-info:hover {
  color: #5bbdff;
}

.bg-info {
  background-color: #5bbdff;
}

.bg-hv-info:hover {
  background-color: #5bbdff;
}

.tx-info-lt-1 {
  color: #6bc4ff;
}

.tx-hv-info-lt-1:hover {
  color: #6bc4ff;
}

.bg-info-lt-1 {
  background-color: #6bc4ff;
}

.bg-hv-info-lt-1:hover {
  background-color: #6bc4ff;
}

.tx-info-lt-2 {
  color: #7ccaff;
}

.tx-hv-info-lt-2:hover {
  color: #7ccaff;
}

.bg-info-lt-2 {
  background-color: #7ccaff;
}

.bg-hv-info-lt-2:hover {
  background-color: #7ccaff;
}

.tx-info-lt-3 {
  color: #8cd1ff;
}

.tx-hv-info-lt-3:hover {
  color: #8cd1ff;
}

.bg-info-lt-3 {
  background-color: #8cd1ff;
}

.bg-hv-info-lt-3:hover {
  background-color: #8cd1ff;
}

.tx-info-lt-4 {
  color: #9dd7ff;
}

.tx-hv-info-lt-4:hover {
  color: #9dd7ff;
}

.bg-info-lt-4 {
  background-color: #9dd7ff;
}

.bg-hv-info-lt-4:hover {
  background-color: #9dd7ff;
}

.tx-info-lt-5 {
  color: #addeff;
}

.tx-hv-info-lt-5:hover {
  color: #addeff;
}

.bg-info-lt-5 {
  background-color: #addeff;
}

.bg-hv-info-lt-5:hover {
  background-color: #addeff;
}

.tx-info-lt-6 {
  color: #bde5ff;
}

.tx-hv-info-lt-6:hover {
  color: #bde5ff;
}

.bg-info-lt-6 {
  background-color: #bde5ff;
}

.bg-hv-info-lt-6:hover {
  background-color: #bde5ff;
}

.tx-info-lt-7 {
  color: #ceebff;
}

.tx-hv-info-lt-7:hover {
  color: #ceebff;
}

.bg-info-lt-7 {
  background-color: #ceebff;
}

.bg-hv-info-lt-7:hover {
  background-color: #ceebff;
}

.tx-info-lt-8 {
  color: #def2ff;
}

.tx-hv-info-lt-8:hover {
  color: #def2ff;
}

.bg-info-lt-8 {
  background-color: #def2ff;
}

.bg-hv-info-lt-8:hover {
  background-color: #def2ff;
}

.tx-info-lt-9 {
  color: #eff8ff;
}

.tx-hv-info-lt-9:hover {
  color: #eff8ff;
}

.bg-info-lt-9 {
  background-color: #eff8ff;
}

.bg-hv-info-lt-9:hover {
  background-color: #eff8ff;
}

.tx-info-dk-1 {
  color: #52aae6;
}

.tx-hv-info-dk-1:hover {
  color: #52aae6;
}

.bg-info-dk-1 {
  background-color: #52aae6;
}

.bg-hv-info-dk-1:hover {
  background-color: #52aae6;
}

.tx-info-dk-2 {
  color: #4997cc;
}

.tx-hv-info-dk-2:hover {
  color: #4997cc;
}

.bg-info-dk-2 {
  background-color: #4997cc;
}

.bg-hv-info-dk-2:hover {
  background-color: #4997cc;
}

.tx-info-dk-3 {
  color: #4084b3;
}

.tx-hv-info-dk-3:hover {
  color: #4084b3;
}

.bg-info-dk-3 {
  background-color: #4084b3;
}

.bg-hv-info-dk-3:hover {
  background-color: #4084b3;
}

.tx-info-dk-4 {
  color: #377199;
}

.tx-hv-info-dk-4:hover {
  color: #377199;
}

.bg-info-dk-4 {
  background-color: #377199;
}

.bg-hv-info-dk-4:hover {
  background-color: #377199;
}

.tx-info-dk-5 {
  color: #2e5f80;
}

.tx-hv-info-dk-5:hover {
  color: #2e5f80;
}

.bg-info-dk-5 {
  background-color: #2e5f80;
}

.bg-hv-info-dk-5:hover {
  background-color: #2e5f80;
}

.tx-info-dk-6 {
  color: #244c66;
}

.tx-hv-info-dk-6:hover {
  color: #244c66;
}

.bg-info-dk-6 {
  background-color: #244c66;
}

.bg-hv-info-dk-6:hover {
  background-color: #244c66;
}

.tx-info-dk-7 {
  color: #1b394d;
}

.tx-hv-info-dk-7:hover {
  color: #1b394d;
}

.bg-info-dk-7 {
  background-color: #1b394d;
}

.bg-hv-info-dk-7:hover {
  background-color: #1b394d;
}

.tx-info-dk-8 {
  color: #122633;
}

.tx-hv-info-dk-8:hover {
  color: #122633;
}

.bg-info-dk-8 {
  background-color: #122633;
}

.bg-hv-info-dk-8:hover {
  background-color: #122633;
}

.tx-info-dk-9 {
  color: #09131a;
}

.tx-hv-info-dk-9:hover {
  color: #09131a;
}

.bg-info-dk-9 {
  background-color: #09131a;
}

.bg-hv-info-dk-9:hover {
  background-color: #09131a;
}

.tx-fade {
  color: #dfdfdf;
}

.tx-hv-fade:hover {
  color: #dfdfdf;
}

.bg-fade {
  background-color: #dfdfdf;
}

.bg-hv-fade:hover {
  background-color: #dfdfdf;
}

.tx-fade-lt-1 {
  color: #e2e2e2;
}

.tx-hv-fade-lt-1:hover {
  color: #e2e2e2;
}

.bg-fade-lt-1 {
  background-color: #e2e2e2;
}

.bg-hv-fade-lt-1:hover {
  background-color: #e2e2e2;
}

.tx-fade-lt-2 {
  color: #e5e5e5;
}

.tx-hv-fade-lt-2:hover {
  color: #e5e5e5;
}

.bg-fade-lt-2 {
  background-color: #e5e5e5;
}

.bg-hv-fade-lt-2:hover {
  background-color: #e5e5e5;
}

.tx-fade-lt-3 {
  color: #e9e9e9;
}

.tx-hv-fade-lt-3:hover {
  color: #e9e9e9;
}

.bg-fade-lt-3 {
  background-color: #e9e9e9;
}

.bg-hv-fade-lt-3:hover {
  background-color: #e9e9e9;
}

.tx-fade-lt-4 {
  color: #ececec;
}

.tx-hv-fade-lt-4:hover {
  color: #ececec;
}

.bg-fade-lt-4 {
  background-color: #ececec;
}

.bg-hv-fade-lt-4:hover {
  background-color: #ececec;
}

.tx-fade-lt-5 {
  color: #efefef;
}

.tx-hv-fade-lt-5:hover {
  color: #efefef;
}

.bg-fade-lt-5 {
  background-color: #efefef;
}

.bg-hv-fade-lt-5:hover {
  background-color: #efefef;
}

.tx-fade-lt-6 {
  color: #f2f2f2;
}

.tx-hv-fade-lt-6:hover {
  color: #f2f2f2;
}

.bg-fade-lt-6 {
  background-color: #f2f2f2;
}

.bg-hv-fade-lt-6:hover {
  background-color: #f2f2f2;
}

.tx-fade-lt-7 {
  color: whitesmoke;
}

.tx-hv-fade-lt-7:hover {
  color: whitesmoke;
}

.bg-fade-lt-7 {
  background-color: whitesmoke;
}

.bg-hv-fade-lt-7:hover {
  background-color: whitesmoke;
}

.tx-fade-lt-8 {
  color: #f9f9f9;
}

.tx-hv-fade-lt-8:hover {
  color: #f9f9f9;
}

.bg-fade-lt-8 {
  background-color: #f9f9f9;
}

.bg-hv-fade-lt-8:hover {
  background-color: #f9f9f9;
}

.tx-fade-lt-9 {
  color: #fcfcfc;
}

.tx-hv-fade-lt-9:hover {
  color: #fcfcfc;
}

.bg-fade-lt-9 {
  background-color: #fcfcfc;
}

.bg-hv-fade-lt-9:hover {
  background-color: #fcfcfc;
}

.tx-fade-dk-1 {
  color: #c9c9c9;
}

.tx-hv-fade-dk-1:hover {
  color: #c9c9c9;
}

.bg-fade-dk-1 {
  background-color: #c9c9c9;
}

.bg-hv-fade-dk-1:hover {
  background-color: #c9c9c9;
}

.tx-fade-dk-2 {
  color: #b2b2b2;
}

.tx-hv-fade-dk-2:hover {
  color: #b2b2b2;
}

.bg-fade-dk-2 {
  background-color: #b2b2b2;
}

.bg-hv-fade-dk-2:hover {
  background-color: #b2b2b2;
}

.tx-fade-dk-3 {
  color: #9c9c9c;
}

.tx-hv-fade-dk-3:hover {
  color: #9c9c9c;
}

.bg-fade-dk-3 {
  background-color: #9c9c9c;
}

.bg-hv-fade-dk-3:hover {
  background-color: #9c9c9c;
}

.tx-fade-dk-4 {
  color: #868686;
}

.tx-hv-fade-dk-4:hover {
  color: #868686;
}

.bg-fade-dk-4 {
  background-color: #868686;
}

.bg-hv-fade-dk-4:hover {
  background-color: #868686;
}

.tx-fade-dk-5 {
  color: #707070;
}

.tx-hv-fade-dk-5:hover {
  color: #707070;
}

.bg-fade-dk-5 {
  background-color: #707070;
}

.bg-hv-fade-dk-5:hover {
  background-color: #707070;
}

.tx-fade-dk-6 {
  color: #595959;
}

.tx-hv-fade-dk-6:hover {
  color: #595959;
}

.bg-fade-dk-6 {
  background-color: #595959;
}

.bg-hv-fade-dk-6:hover {
  background-color: #595959;
}

.tx-fade-dk-7 {
  color: #434343;
}

.tx-hv-fade-dk-7:hover {
  color: #434343;
}

.bg-fade-dk-7 {
  background-color: #434343;
}

.bg-hv-fade-dk-7:hover {
  background-color: #434343;
}

.tx-fade-dk-8 {
  color: #2d2d2d;
}

.tx-hv-fade-dk-8:hover {
  color: #2d2d2d;
}

.bg-fade-dk-8 {
  background-color: #2d2d2d;
}

.bg-hv-fade-dk-8:hover {
  background-color: #2d2d2d;
}

.tx-fade-dk-9 {
  color: #161616;
}

.tx-hv-fade-dk-9:hover {
  color: #161616;
}

.bg-fade-dk-9 {
  background-color: #161616;
}

.bg-hv-fade-dk-9:hover {
  background-color: #161616;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1919e6;
}
.btn-blue:hover {
  background-color: #3030e9;
}

.btn-ol-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #1919e6;
}
.btn-ol-blue:hover {
  background-color: #1919e6;
  color: #ffffff;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e61919;
}
.btn-red:hover {
  background-color: #e93030;
}

.btn-ol-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #e61919;
}
.btn-ol-red:hover {
  background-color: #e61919;
  color: #ffffff;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e6e619;
}
.btn-yellow:hover {
  background-color: #e9e930;
}

.btn-ol-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #e6e619;
}
.btn-ol-yellow:hover {
  background-color: #e6e619;
  color: #ffffff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19e635;
}
.btn-green:hover {
  background-color: #30e949;
}

.btn-ol-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #19e635;
}
.btn-ol-green:hover {
  background-color: #19e635;
  color: #ffffff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
}
.btn-orange:hover {
  background-color: #ffaf1a;
}

.btn-ol-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #ffa600;
}
.btn-ol-orange:hover {
  background-color: #ffa600;
  color: #ffffff;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #a31aff;
}

.btn-ol-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #9900ff;
}
.btn-ol-purple:hover {
  background-color: #9900ff;
  color: #ffffff;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}
.btn-white:hover {
  background-color: white;
}

.btn-ol-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.btn-ol-white:hover {
  background-color: #ffffff;
  color: #ffffff;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #000000;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-ol-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #000000;
}
.btn-ol-black:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #808080;
}
.btn-gray:hover {
  background-color: #8d8d8d;
}

.btn-ol-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #808080;
}
.btn-ol-gray:hover {
  background-color: #808080;
  color: #ffffff;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
}
.btn-primary:hover {
  background-color: #4a7ef0;
}

.btn-ol-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #326dee;
}
.btn-ol-primary:hover {
  background-color: #326dee;
  color: #ffffff;
}

.btn-success {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
}
.btn-success:hover {
  background-color: #1ddf97;
}

.btn-ol-success {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #1ac888;
}
.btn-ol-success:hover {
  background-color: #1ac888;
  color: #ffffff;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #da3961;
}

.btn-ol-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #d32752;
}
.btn-ol-error:hover {
  background-color: #d32752;
  color: #ffffff;
}

.btn-warning {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
}
.btn-warning:hover {
  background-color: #f7c935;
}

.btn-ol-warning {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #f6c31c;
}
.btn-ol-warning:hover {
  background-color: #f6c31c;
  color: #ffffff;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #5bbdff;
}
.btn-info:hover {
  background-color: #75c7ff;
}

.btn-ol-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #5bbdff;
}
.btn-ol-info:hover {
  background-color: #5bbdff;
  color: #ffffff;
}

.btn-fade {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #dfdfdf;
}
.btn-fade:hover {
  background-color: #ececec;
}

.btn-ol-fade {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #dfdfdf;
}
.btn-ol-fade:hover {
  background-color: #dfdfdf;
  color: #ffffff;
}

.font-xs {
  font-size: 0.75rem;
}

.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2rem;
}

.font-xl {
  font-size: 3rem;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}