@each $key, $val in $colors {
    .txt-#{$key} {
        color: $val;
    }

    .txt-hov-#{$key} {
        &:hover {
            color: $val
        }
    }

    .bg-#{$key} {
        background-color: $val;
    }

    .bg-hov-#{$key} {
        &:hover {
            background-color: $val;
        }
    }

    @if($val != #000000 and $val != #ffffff) {
        
        //light variations
        @for $i from 1 through 9 {
            .txt-#{$key}-l#{$i} {
                color: mix(#ffffff, $val, $i * 10)
            }

            .txt-hov-#{$key}-l#{$i} {
                &:hover {
                    color: mix(#ffffff, $val, $i * 10)
                }
            }

            .bg-#{$key}-l#{$i} {
                background-color: mix(#ffffff, $val, $i * 10)
            }

            .bg-hov-#{$key}-l#{$i} {
                &:hover {
                    background-color: mix(#ffffff, $val, $i * 10)
                }
            }
        }

        //dark variations
        @for $i from 1 through 9 {
            .txt-#{$key}-d#{$i} {
                color: mix(#000000, $val, $i * 10)
            }

            .txt-hov-#{$key}-d#{$i} {
                &:hover {
                    color: mix(#000000, $val, $i * 10)
                }
            }

            .bg-#{$key}-d#{$i} {
                background-color: mix(#000000, $val, $i * 10)
            }

            .bg-hov-#{$key}-d#{$i} {
                &:hover {
                    background-color: mix(#000000, $val, $i * 10)
                }
            }
        }
    }
}


