//font sizes
.txt-xs {
    font-size: $font-xs;
}
.txt-sm {
    font-size: $font-sm;
}
.txt-md {
    font-size: $font-md;
}
.txt-lg {
    font-size: $font-lg;
}
.txt-xl {
    font-size: $font-xl;
}


//font weights
@each $key, $val in $font-weights {
    .txt-wt-#{$key} {
        font-weight: $val;
    }
}

