@use 'sass:math';

//classic colors
$blue: #1919e6;
$red: #e61919;
$yellow: #e6e619;
$green: #19e635;
$orange: #ffa600;
$violet: #9b26b6;
$white: #ffffff;
$black: #000000;
$gray: #808080;

//color pallete
$colors: (
    "blu": $blue,
    "red": $red,
    "ylw": $yellow,
    "grn": $green,
    "org": $orange,
    "vio": $violet,
    "wht": $white,
    "blk": $black,
    "gry": $gray
);

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//font sizes 
$base-font-size: 1rem;
$font-xs: $base-font-size * 0.75;
$font-sm: $base-font-size * 1;
$font-md: $base-font-size * 1.5;
$font-lg: $base-font-size * 2;
$font-xl: $base-font-size * 3;

//font weights
$font-weights: (
    "300": 300,
    "400": 400,
    "500": 500,
    "600": 600,
    "700": 700,
    "800": 800,
    "900": 900,
);
